@model Consultorio.WebUI.Models.UsuariosViewModel


<div class="row" id="create">
    <h2>Nuevo registro</h2>
    <div class="d-flex justify-content-end">
        <a href="#" id="Cancel">Regresar al index</a>
    </div>
    <form asp-action="Create" id="formCreate">
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="user_NombreUsuario" class="control-label"></label>
                <input asp-for="user_NombreUsuario" class="form-control" />
                <span asp-validation-for="user_NombreUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user_Contrasena" class="control-label"></label>
                <input asp-for="user_Contrasena" class="form-control" />
                <span asp-validation-for="user_Contrasena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user_EsAdmin" class="control-label"></label>
                <input type="checkbox" asp-for="user_EsAdmin" class="form-check-input" />
                <span asp-validation-for="user_EsAdmin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="role_Id" class="control-label"></label>
                <select asp-for="role_Id" class="form-control" asp-items="ViewBag.role_Id">
                    <option value="">-- Seleccione un Rol --</option>
                </select>
                <span asp-validation-for="role_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="empe_Id" class="control-label"></label>
                <select asp-for="empe_Id" class="form-control" asp-items="ViewBag.emp_Id">
                    <option value="">-- Seleccione un Empleado --</option>
                </select>
                <span asp-validation-for="empe_Id" class="text-danger"></span>
            </div>
            <div class="form-group mt-3 mb-2">
                <input type="button" id="enviarCrear" value="Crear" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {

        $('#New').on('click', function () {

            $("#nombreCreateValidation").prop('hidden', true);

            $("#create").fadeIn('slow');
            $(".card-body").animate({ height: $("#create").height()+35 }, 500);
            $("#index").hide();
        });

        $("#enviarCrear").click(function () {
            if ($("#carg_Nombre").val() == "") {
                $("#nombreCreateValidation").prop('hidden', false);
            } else {
                $("#nombreCreateValidation").prop('hidden', true);
                $("#formCreate").submit();
            }
        });
    });
</script>