@model Consultorio.WebUI.Models.CargoViewModel



<div class="row" id="create">
    <h2>Nuevo registro</h2>
    <div class="d-flex justify-content-end">
        <a href="#" id="Cancel">Regresar al index</a>
    </div>
    <form asp-action="Create" id="formCreate">
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-10">
                <label asp-for="carg_Nombre" class="control-label"></label>
                <input asp-for="carg_Nombre" class="form-control" />
                <span asp-validation-for="carg_Nombre" id="nombreCreateValidation" class="text-danger" hidden>El campo es obligatorio</span>
            </div>
            <div class="form-group mt-3 mb-2">
                <input type="button" id="enviarCrear" value="Crear" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {

        $('#New').on('click', function () {

            $("#nombreCreateValidation").prop('hidden', true);

            $("#create").fadeIn('slow');
            $(".card-body").animate({ height: $("#create").height()+35 }, 500);
            $("#index").hide();
            //$('#create').removeAttr('hidden').slideDown(500);

            //$('.card').each(function () {
            //    //var originalHeight = $(this).height();
            //    //var newHeight = originalHeight - 100;
            //    $(this).animate({
            //        //height: newHeight + 'px'
            //    }, 500);
            //});
        });

        $("#enviarCrear").click(function () {
            if ($("#carg_Nombre").val() == "") {
                $("#nombreCreateValidation").prop('hidden', false);
            } else {
                $("#nombreCreateValidation").prop('hidden', true);
                $("#formCreate").submit();
            }
        });
    });
</script>