@model Consultorio.WebUI.Models.CargoViewModel

<div class="row" id="edit">
    <h2>Editar registro</h2>
    <div class="d-flex justify-content-end">
        <a href="#" class="Cancel">Regresar al index</a>
    </div>
    <form asp-action="Edit" id="formEdit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="carg_Id" id="carg_IdEdit" class="form-control" hidden/>
        <div class="form-group mt-10">
            <label asp-for="carg_Nombre" class="control-label"></label>
            <input asp-for="carg_Nombre" id="carg_NombreEdit" class="form-control" />
            <span asp-validation-for="carg_Nombre" id="lblNombreEdit" class="text-danger">Este campo es obligatorio</span>
        </div>
        <div class="form-group mt-3 mb-2">
            <input type="button" id="enviarEdit" value="Editar" class="btn btn-primary" />
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    $(document).ready(function () {

        $('.Editar').on('click', function () {
            $("#lblNombreEdit").prop('hidden', true);
            var cargId = $(this).data("id");
            var cargNombre = $(this).data("nombre");

            $("#carg_IdEdit").val(cargId);
            $("#carg_NombreEdit").val(cargNombre);

            $("#edit").fadeIn('slow');
            $(".card-body").animate({ height: $("#edit").height() + 35 }, 500);
            $("#index").hide();

        });

        $('.EditarDetalle').on('click', function () {
            $("#lblNombreEdit").prop('hidden', true);
            var cargId = $(this).data("id");
            var cargNombre = $(this).data("nombre");

            $("#carg_IdEdit").val(cargId);
            $("#carg_NombreEdit").val(cargNombre);

            $("#edit").fadeIn('slow');
            $(".card-body").animate({ height: $("#edit").height() + 35 }, 500);
            $("#details").hide();

        });

        $("#enviarEdit").click(function () {
            if ($("#carg_NombreEdit").val() == "") {
                $("#lblNombreEdit").prop('hidden', false);
            } else {
                $("#lblNombreEdit").prop('hidden', true);
                $("#formEdit").submit();
            }
        });
    });
</script>